
  <ul class="nav nav-pills flex-column side-tabs" id="myTab" role="tablist" (click)="onProjectGroupClick($event)">
    <li class="nav-item" routerLinkActive="active-li" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" data-toggle="tab" routerLink="/project-one" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" role="tab" aria-controls="project-one" >Project One</a>
    </li>
    <li class="nav-item" routerLinkActive="active-li" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" data-toggle="tab"  routerLink="/project-two" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" role="tab" aria-controls="project-one" >Project Two</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#project-three" role="tab" aria-controls="project-three" aria-selected="false">Project Three</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#project-four" role="tab" aria-controls="project-four" aria-selected="false">Project Four</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#project-five" role="tab" aria-controls="project-five" aria-selected="true">Project Five</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#project-six" role="tab" aria-controls="project-six" aria-selected="true">Project Six</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#project-seven" role="tab" aria-controls="project-seven" aria-selected="false">Project Seven</a>
    </li>
  </ul>

