
  <ul class="nav nav-pills flex-column side-tabs" id="myTab" role="tablist">
    <li class="nav-item active-li">
      <a class="nav-link active" data-toggle="tab" href="#project-one" role="tab" aria-controls="project-one" aria-selected="true">Project One</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#project-two" role="tab" aria-controls="project-one" aria-selected="false">Project Two</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#project-three" role="tab" aria-controls="project-three" aria-selected="false">Project Three</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#project-four" role="tab" aria-controls="project-four" aria-selected="false">Project Four</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#project-five" role="tab" aria-controls="project-five" aria-selected="true">Project Five</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#project-six" role="tab" aria-controls="project-six" aria-selected="true">Project Six</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#project-seven" role="tab" aria-controls="project-seven" aria-selected="false">Project Seven</a>
    </li>
  </ul>

