<div class="card-header">
  <h4 class="card-title">PROJECT TASK</h4>
  <ul class="card-header-actions float-right">
    <li class="float-right ml-2">
      <div class="btn-group btn-group-toggle" data-toggle="buttons" (click)="onButtonGroupClick($event)">
        <label class="btn btn-secondary">
          <input type="radio" name="options" autocomplete="off" checked=""> Quarter Day
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" autocomplete="off" checked=""> Half Day
        </label>
        <label class="btn btn-secondary active">
          <input type="radio" name="options" autocomplete="off" checked=""> Day
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" autocomplete="off"> Week
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" autocomplete="off"> Month
        </label>
      </div>
    </li>
    <li class="float-right ml-2">
      <a href="#" class="header-actions">
        <img src="assets/images/refresh.svg">
      </a>
    </li>
  </ul>
</div>
